<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="gallery">
        
         <% objects.objects.forEach(function (object) { %>
               <img src='<%= object %>' height='200' width='200'/>
         <% }) %>
    </div>
    <!-- <img src="../photos/first_page/anton-ivanov-L38IxgRzVcE-unsplash.jpg" alt=""> -->
    <div id="buttons">
        <button id="back"><</button>
                <button id="next">></button>
    </div>

    <script src="./gallery.js"></script>
</body>

</html>